body{
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  margin: 0;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

header{
  height: 10vh;
  background-color: #2563eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px
}

#login-btn{
  height: clamp(30px, 5vh, 50px);
  width: clamp(80px, 5vw, 150px);
  cursor: pointer;
}

main{
  gap: 16px;
  background: white;
}

nav{
  background-color: black;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5vw;
  padding-top: 10vh;
}
#search-bar{
  background-color: #d9d9d9;
  width: 24vw;
  height: 8vh;
  border-radius: 15px;
}

aside{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#renting, #saling{
  background-color: #d9d9d9;
  width: 90vw;
  height: 30vh;
  border-radius: 15px;
}

option{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  height: 30vh;
  width: 20vw;
  background-color: #d9d9d9;
}
#image{
    border-radius: 50%;
    height: 12vh;
    width:  7vw;  
    background-color: black;
    margin-top: 15px;
}
#option-btn{
    width: 4vw;
    height: 5vh;
    margin-bottom: 2vh;
}

footer{
  height: 15vh;
  background-color: #2563eb;
}