* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  min-height: 100vh;
}

/* HEADER */
header {
  height: 70px;
  background-color: #2563eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header img {
  width: 75px;
  height: 75px;
}

#login-btn {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

/* NAV */
nav {
  background-image: url("images/main\ image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#search-bar {
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: white;
  padding: 40px 20px;
}

h2 {
  font-size: 2rem;
  margin: 20px 0;
}

/* ASIDE */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

aside h2{
  align-self: flex-start;
  margin-left: 40px;
}

#renting, #selling {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.ad {
  background-color: #d9d9d9;
  width: 400px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
}

.ad img {
  width: 400px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
  display: block;
}

/* OPTIONS */
#options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 40px 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  height: 350px;
  width: 300px;
  background-color: #d9d9d9;
  padding: 30px 0 20px 0;
}

.image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: black;
}

.option-btn {
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

/* FOOTER */
footer {
  height: 70px;
  background-color: #2563eb;
  margin-top: auto;
}